In [43]:
import sqlite3
con = sqlite3.connect('./test_db')

In [44]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM human'):
    print(row)
    for column in row:
        print(column)

(1, 'a', 10.1, 40.4)
1
a
10.1
40.4
(2, 'b', None, 50.5)
2
b
None
50.5
(3, 'c', 30.3, None)
3
c
30.3
None

In [45]:
insert_sql = 'INSERT INTO human VALUES(?,?,?,?)'
insert_param = (100, 'name_z', 99.9, 80.0)
cur.execute(insert_sql, insert_param)

In [46]:
con.commit()

In [47]:
cur.execute('SELECT * FROM human WHERE height > :height', {'height':10})
print(cur.fetchall())

[(1, 'a', 10.1, 40.4), (3, 'c', 30.3, None), (100, 'name_z', 99.9, 80.0)]

In [48]:
# con.close()
# クローズしたのでエラーになる
# cur.execute('SELECT * FROM human WHERE height > :height', {'height':10})

In [49]:

cur.execute('UPDATE human SET name = :changed_name WHERE id=1',{'changed_name':'changed_name'})
con.commit()

In [50]:
cur.execute('DELETE FROM human WHERE name=:name',{'name':'c'})

In [ ]:
con.commit()