In [18]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from test_model import Human

In [19]:
engine = create_engine('sqlite:///test_db',echo=True)
#Pythonを使用しての開発 Webアプリ２ 20ページ

In [20]:
session = Session(engine)

In [21]:
persons = session.query(Human).all()

2023-10-14 13:29:03,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-14 13:29:03,314 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2023-10-14 13:29:03,316 INFO sqlalchemy.engine.Engine [generated in 0.00151s] ()

In [22]:
for person in persons:
    print(f'id:{person.id} name:{person.name} size:{person.height}')

id:1 name:changed_name size:10.1
id:2 name:b size:None
id:100 name:name_z size:99.9

In [23]:
new_person = Human(id=4,name='from_model',height=100,weight=70)

In [24]:
session.add(new_person)

In [25]:
session.commit()

2023-10-14 13:29:03,816 INFO sqlalchemy.engine.Engine INSERT INTO human (id, name, height, weight) VALUES (?, ?, ?, ?)
2023-10-14 13:29:03,818 INFO sqlalchemy.engine.Engine [generated in 0.00259s] (4, 'from_model', 100.0, 70.0)
2023-10-14 13:29:03,821 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
persons = session.query(Human).all()

2023-10-14 13:29:04,010 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-14 13:29:04,012 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2023-10-14 13:29:04,013 INFO sqlalchemy.engine.Engine [cached since 0.6983s ago] ()

In [27]:
for person in persons:
    print(person.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fd117cb5780>, 'name': 'changed_name', 'height': 10.1, 'id': 1, 'weight': 40.4}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fd117cb6590>, 'name': 'b', 'height': None, 'id': 2, 'weight': 50.5}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fd117cb6620>, 'name': 'name_z', 'height': 99.9, 'id': 100, 'weight': 80.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fd117ab6620>, 'name': 'from_model', 'height': 100.0, 'id': 4, 'weight': 70.0}

In [28]:
person4 = session.query(Human).filter(Human.id==4).first()

2023-10-14 13:34:17,560 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.id = ?
 LIMIT ? OFFSET ?
2023-10-14 13:34:17,562 INFO sqlalchemy.engine.Engine [generated in 0.00206s] (4, 1, 0)

In [29]:
person4.weight= 99.9

In [30]:
session.commit()

2023-10-14 13:34:21,958 INFO sqlalchemy.engine.Engine UPDATE human SET weight=? WHERE human.id = ?
2023-10-14 13:34:21,961 INFO sqlalchemy.engine.Engine [generated in 0.00283s] (99.9, 4)
2023-10-14 13:34:21,963 INFO sqlalchemy.engine.Engine COMMIT

In [31]:
session.query(Human).filter(Human.weight<60).delete()

2023-10-14 13:34:24,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-14 13:34:24,530 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.weight < ?
2023-10-14 13:34:24,532 INFO sqlalchemy.engine.Engine [generated in 0.00136s] (60,)

2

In [32]:
session.commit()

2023-10-14 13:34:26,897 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
result_list = session.execute('SELECT * FROM human WHERE id = :id',{"id":4})

2023-10-14 13:38:11,679 INFO sqlalchemy.engine.Engine SELECT * FROM human WHERE id = ?
2023-10-14 13:38:11,680 INFO sqlalchemy.engine.Engine [cached since 47.27s ago] (4,)

In [39]:
for result in result_list:
    print(result)

(4, 'from_model', 100.0, 99.9)

In [ ]:
session.close()